ons-list-item > ons-icon {
  margin: 0 4px 0 0;
  opacity: 0.8;
}

.list-item-action {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  opacity: 0.3;
}

.list-item-action > ons-icon {
  margin-top: 14px;
}

.list-item-note {
  position: absolute;
  right: 36px;
  top: 0px;
  font-size: 14px;
}

.list-item-note > .notification {
  margin-top: 12px;
}

.lucent {
  opacity: 0.4;
}



.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}

.page--menu-page__background {
  background-color: #333;
  color: white;
}

.menu-close,
.menu-close > .toolbar-button {
  color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item {
  background-color: transparent;
  background-image: none !important;
  border-color: transparent;
  color: #fff;
}

.menu-item {
  padding: 0 0 0 20px;
  line-height: 52px;
  height: 52px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item {
  border-color: #393939;
  background-color: transparent;
  background-image: none !important;
  color: #ccc;
}

.bottom-menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

ons-button[modifier="material"] {
  margin: 4px 0px;
}


// カルーセル
.list-item {
  padding: 0;
  height: 72px;
}

.list-action-menu {
  background-color: #aaa;
  color: white;
  padding: 0 12px;
  box-sizing: border-box;
  line-height: 72px;
}

.list-action-menu:active {
  background-color: #666;
}

.list-action-item {
  padding: 0 12px;
  box-sizing: border-box;
}

.name {
  margin-top: 10px;
  line-height: 1.2;
}

.desc {
  line-height: 1.2;
  font-size: 14px;
  color: #999;
}

